<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="d-flex justify-content-center my-4">コメント一覧</h2>
          <table class="table table-hover table-inverse">
          	<tbody>
              <tr>
            		<th>投稿日</th>
            		<th class="text-center">ユーザー名</th>
            		<th>コメント</th>
          		</tr>
          		<% @comments.each do |comment| %>
          		<tr>
            		<td>
                  <%#= link_to user_path(post.user) do %>
                  <%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                  <%# end %>
                </td>
          			<td>
                  <div class="text-center">
                    <%= link_to admin_user_path(comment.user.id) do %>
                      <%= image_tag comment.user.get_profile_image(80, 80) %><br>
                      <%= "#{comment.user.name} #{comment.user.is_active ? '' : '(退会済)'}" %>
                    <% end %>
                  </div>
                </td>
                <td>
                  <%= comment.comment %>
                </td>
                <td>
                  <%= link_to "削除", admin_comment_path(comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
                </td>
          		</tr>
          		<% end %>
          	</tbody>
          </table>
        </div>
      </div>
    </div>