<table class='table'>
  <thead>
    <tr>
      <th>グループ画像</th>
      <th>グループ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td><%= image_tag group.image, size: '50x50' if group.image.attached? %></td>
        <td><%= group.name %></td>
        <td><%= link_to 'グループの詳細はこちら', group, class: "group_#{group.id}" %></td>
        <%# if group.is_owned_by?(current_user) %>
          <td><%= link_to '編集', edit_group_path(group), class: "group_#{group.id}" %></td>
        <%# end %>
        <td>

        </td>
        <td>
          <% if group.owner_id != current_user.id %>
            <%= render 'public/group_users/join_button', group: group %>
            <% if group.group_user_by?(current_user) %>
              <p>
                <%= link_to group_group_users_path(group), method: :delete do %>
                  group out..
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to group_group_users_path(group), method: :post do %>
                  group join
                <% end %>
              </p>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>