<h2><%= @post.title %></h2>
<div class="row">
  <div class="col">
    <!--情報-->
    <div>
      <%#= image_tag @post.get_image %>
      <div class="row">
        <div class="col-3">
          <p><%= image_tag @post.user.get_profile_image(50,50) %><%= link_to " "+@post.user.name, user_path(@post.user) %></p>
        </div>
        <div class="col-9">
          <p><%= @post.body %></p>
          <%= @post.address %>
          <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <% if @post.user == current_user %>
            <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-outline-secondary mr-2', data: { turbolinks: false } %>
            <%= link_to "削除", post_path(@post.id), class: 'btn btn-outline-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
        <div class="mt-3">

          <p>
            <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.get_image,size:"500x350" %>
            <% end %>
          </p>

        </div>
      </div>
    </div>
    <div id="favorite_<%= @post.id %>">
      <%= render partial: 'public/posts/favorite', locals: {post: @post} %>
    </div>
    <div>
      <div>
        <p id="comments_count">コメント件数：<%= @post.comments.active_user.count %></p>
        <div id="comments" class="row">
           <%= render 'comments', post: @post %>
        </div>
      </div>
      <div>
        <%= form_with model: [@post, @comment],local: false do |f| %>
          <%= render 'layouts/error_messages', obj: f.object %>
          <%= f.text_area :comment, rows: '5', class: 'form-control', placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: 'btn btn-outline-secondary mt-3' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--地図-->
  <div class="col"><div id="map" data-postid="<%= @post.id %>"></div></div>
  <!--地図-->
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>