<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <%= render @chats %>
</div>

<div class="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>

<!--<div>
  <#%= form_with model: [@post, @comment],local: false do |f| %>
    <#%= render 'layouts/error_messages', obj: f.object %>
    <#%= f.text_area :comment, rows: '5', class: 'form-control', placeholder: "コメントをここに" %>
    <#%= f.submit "送信する", class: 'btn btn-outline-secondary mt-3' %>
  <#% end %>
</div>--!>