<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <div class="d-flex flex-column">
      <% if chat.user_id == current_user.id %>
        <div class="ml-auto">
          <p class="speech_right"><%= chat.message %></p><span><%= chat.user.name %></span>
        </div>
      <% else %>
        <div class="mr-auto">
          <span><%= chat.user.name %></span><p class="speech_left"><%= chat.message %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>