<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="d-flex justify-content-center my-4">プロフィール編集</h2>

          <%= form_with model: @user do |f| %>
          <%= render "public/users/shared/error_messages", resource: @user %>

          <div class="mb-3">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label "プロフィール画像" %><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>

          <div class="my-4">
            <%= f.submit "更新", class: "btn btn-outline-secondary btn-block" %>
          </div>
        <% end %>
        <%= link_to "退会", user_path(@user), class: "btn btn-outline-danger mt-3", method: :delete, data: { confirm: "本当に削除しますか？" } if @user.present? && @user == current_user %>

      </div>
    </div>
  </div>
</div>












