<!DOCTYPE html>
<html>
  <head>
    <title>タウンチャーム</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5f16f5d5a1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
      <%= link_to root_path , class:"navbar-brand" do %>
        <span>タウンチャーム</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
       <li class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              通知
              <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if current_user.notifications.any? %>
                <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                <% current_user.notifications.limit(5).order(created_at: :desc).each do |notification| %>
                  <%= link_to "#{notification_message(notification)} ( #{notification.read ? '既読' : '未読'} )", notification_path(notification), method: :patch, class: "dropdown-item" %>
                <% end %>
              <% else %>
                <span class="dropdown-item disabled">未読の通知はありません</span>
              <% end %>
            </div>
        </li>
        <li>
          <!-- <i class="fa-solid fa-home"></i> Font Awesome fontawesome.com -->
          <%= link_to user_path(current_user.id), class:"nav-link text-light", data: { turbolinks: false } do %>
            <i class="fa-solid fa-home"></i> Myページ
            
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-home"></i> Font Awesome fontawesome.com -->
          <%= link_to about_path, class:"nav-link text-light" do %>
            <i class="fa-solid fa-link"></i> About
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class:"nav-link text-light" do %>
            <i class="fa-solid fa-users"></i> 投稿者一覧
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-book-open"></i> Font Awesome fontawesome.com -->
          <%= link_to posts_path, class:"nav-link text-light" do %>
            <i class="fa-solid fa-city"></i> 投稿一覧
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-book-open"></i> Font Awesome fontawesome.com -->
          <%= link_to user_favorites_path(current_user), class:"nav-link text-light" do %>
            <i class="fa-solid fa-heart"></i> Myいいね
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-sign-out-alt"></i> Font Awesome fontawesome.com -->
          <%= link_to destroy_user_session_path, class:"nav-link text-light", method: :delete do %>
            <i class="fa-solid fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <!-- <i class="fa-solid fa-home"></i> Font Awesome fontawesome.com -->
          <%= link_to root_path, class:"nav-link text-light" do %>
           <i class="fa-solid fa-home"></i> マイページ
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-link"></i> Font Awesome fontawesome.com -->
          <%= link_to about_path, class:"nav-link text-light" do %>
           <i class="fa-solid fa-link"></i> About
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-user-plus"></i> Font Awesome fontawesome.com -->
          <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
            <i class="fa-solid fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li>
          <!-- <i class="fa-solid fa-sign-in-alt"></i> Font Awesome fontawesome.com -->
          <%= link_to new_user_session_path, class:"nav-link text-light" do%>
            <i class="fa-solid fa-right-to-bracket"></i> ログイン
          <% end %>
        </li>
      <% end %>
      </ul>
      </div>
      </div>
      </nav>
    </header>
    <% flash.each do |type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{type == 'notice' ? 'success' : 'danger'}" ) if message.present? %>
    <% end %>
    <main>
      <div class="container">
        <% if user_signed_in? && request.path_info != '/admins/sign_in' %>
          <%= render 'public/searches/form' %>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="container mt-5">
	      <div class="row">
  	      <div class="mx-auto">
  		      <p><!--CopyRight-->© All rights reserved by TOWNCHARM</p>
  	      </div>
        </div>
      </div>
    </footer>

  </body>
</html>










